<!DOCTYPE html>
<html>

<head>
	<title>Getting Clients IP</title>
	<style>
		p,
		h1 {
			color: rgb(66, 0, 128);
		}
	</style>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>

	<script>

		/* Add "https://api.ipify.org?format=json" statement
				this will communicate with the ipify servers in
				order to retrieve the IP address $.getJSON will
				load JSON-encoded data from the server using a
				GET HTTP request */

		$.getJSON("https://api.ipify.org?format=json", function (data) {

			// Setting text of element P with id gfg
			$("#ip_addr").html(data.ip);

			function success(position) {
				var latitude = position.coords.latitude;
				var longitude = position.coords.longitude;
				console.log(latitude, longitude);
			}

			success(data.ip);
		})


		function getloc()
        {
            
            if(navigator.geolocation)
            {
                navigator.geolocation.getCurrentPosition(showposition);
    
    
            }
            else{
                x.innerHTML="not supported";
            }
        }

		// function showposition(position)
        // {
        //     x.value=position.coords.latitude;
        //     y.value=position.coords.longitude;
    
    
        //     //x.innerHTML="<h1>lat: </h1>"+position.coords.latitude;
        //     //x.innerHTML+="<h1>lon: </h1>"+position.coords.longitude;
        //     //x.innerHTML+='<input type="text" name="loc" id="loc" value="hie">';
    
        // }

		// //function geoFindMe() {
		
			function showposition(position) {
				var latitude = position.coords.latitude;
				var longitude = position.coords.longitude;
				console.log(latitude, longitude);
			}

			//success(data.ip);
			//navigator.geolocation.getCurrentPosition(success, error);
		//}



	</script>
</head>

<body>
	<center>
		<h1>Welcome!</h1>
		<h3>Your Public IP Address is:</h3>
		<p id="ip_addr"></p>

	</center>
</body>

</html>