
<html lang="en-US" class="no-touchevents no-forcetouch flexboxlegacy flexbox no-flexboxtweener no-touchevents no-forcetouch flexboxlegacy flexbox no-flexboxtweener"><head>
    <!-- Google Tag Manager -->
	<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>

<script type="text/javascript" async="" src="http://tag.perfectaudience.com/serve/5f5a54b5233b2ce6a00017b0.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script><script type="text/javascript" async="" src="https://snap.licdn.com/li.lms-analytics/insight.min.js"></script><script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-XRQ0S855C2&amp;l=dataLayer&amp;cx=c"></script><script type="text/javascript" async="" src="http://koi-3QNKLR2EPU.marketingautomation.services/client/ss.js?ver=2.4.0"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-WSBC7F"></script><script type="text/javascript" async="" src="https://koi-3QNKLR2EPU.marketingautomation.services/client/ss.js?ver=2.4.0"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-WSBC7F"></script><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WSBC7F');</script>
<!-- End Google Tag Manager -->			

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="application-name" content="Gravitate">
<link rel="shortcut icon" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/favicons/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/favicons/apple-touch-icon-152x152.png">
<link rel="icon" type="image/png" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/favicons/favicon-96x96.png" sizes="96x96">

<!-- Font Preloads - Antenna Cond -->
<link rel="preload" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/fonts/antennacond-regular.woff" as="font" type="font/woff" crossorigin="anonymous">
<link rel="preload" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/fonts/antennacond-bold.woff" as="font" type="font/woff" crossorigin="anonymous">
<link rel="preload" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/fonts/antennacond-black.woff" as="font" type="font/woff" crossorigin="anonymous">
<link rel="preload" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/fonts/antennacond-extralight.woff" as="font" type="font/woff" crossorigin="anonymous">

<!-- Font Preloads - Source Sans Pro woff -->
<link rel="preload" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/fonts/source-sans-pro-v11-latin-300.woff" as="font" type="font/woff" crossorigin="anonymous">
<link rel="preload" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/fonts/source-sans-pro-v11-latin-300italic.woff" as="font" type="font/woff" crossorigin="anonymous">
<link rel="preload" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/fonts/source-sans-pro-v11-latin-regular.woff" as="font" type="font/woff" crossorigin="anonymous">
<link rel="preload" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/fonts/source-sans-pro-v11-latin-italic.woff" as="font" type="font/woff" crossorigin="anonymous">
<link rel="preload" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/fonts/source-sans-pro-v11-latin-600.woff" as="font" type="font/woff" crossorigin="anonymous">
<link rel="preload" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/fonts/source-sans-pro-v11-latin-700.woff" as="font" type="font/woff" crossorigin="anonymous">

<!-- Font Preloads - Source Sans Pro woff2 -->
<link rel="preload" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/fonts/source-sans-pro-v11-latin-300.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/fonts/source-sans-pro-v11-latin-300italic.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/fonts/source-sans-pro-v11-latin-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/fonts/source-sans-pro-v11-latin-italic.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/fonts/source-sans-pro-v11-latin-600.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/fonts/source-sans-pro-v11-latin-700.woff2" as="font" type="font/woff2" crossorigin="anonymous">

<meta name="msapplication-TileColor" content="#d52f5b">
<meta name="msapplication-TileImage" content="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/favicons/mstile-144x144.png">
<link rel="pingback" href="https://www.gravitatedesign.com/xmlrpc.php">

<!-- Facebook Verification Code -->
<meta name="facebook-domain-verification" content="p86v6667s4kpjagedj99r90p8z63w5">

<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">

<!-- This site is optimized with the Yoast SEO plugin v17.5 - https://yoast.com/wordpress/plugins/seo/ -->
<title>What is Geolocation? How it Works &amp; Why it Matters | Gravitate</title>
<meta name="description" content="What is geolocation? Geolocation improves user experience by providing the ability to identify the location of an Internet-connected device.">
<link rel="canonical" href="https://www.gravitatedesign.com/blog/what-is-geolocation/">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="Geolocation">
<meta property="og:description" content="What is geolocation? Geolocation improves user experience by providing the ability to identify the location of an Internet-connected device.">
<meta property="og:url" content="https://www.gravitatedesign.com/blog/what-is-geolocation/">
<meta property="og:site_name" content="Gravitate">
<meta property="article:publisher" content="http://www.facebook.com/GravitateDesignStudio">
<meta property="article:published_time" content="2020-04-01T18:42:47+00:00">
<meta property="article:modified_time" content="2021-05-14T20:50:47+00:00">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="https://uploads.gravitatedesign.com/2017/03/19205158/geotargeting.jpg">
<meta name="twitter:creator" content="@gravitatedesign">
<meta name="twitter:site" content="@gravitatedesign">
<meta name="twitter:label1" content="Written by">
<meta name="twitter:data1" content="Gravitate Team">
<script type="application/ld+json" class="yoast-schema-graph">{"@context":"https://schema.org","@graph":[{"@type":"WebSite","@id":"https://www.gravitatedesign.com/#website","url":"https://www.gravitatedesign.com/","name":"Gravitate","description":"We are a Digital Marketing &amp; Design Agency","potentialAction":[{"@type":"SearchAction","target":{"@type":"EntryPoint","urlTemplate":"https://www.gravitatedesign.com/?s={search_term_string}"},"query-input":"required name=search_term_string"}],"inLanguage":"en-US"},{"@type":"ImageObject","@id":"https://www.gravitatedesign.com/blog/what-is-geolocation/#primaryimage","inLanguage":"en-US","url":"","contentUrl":""},{"@type":"WebPage","@id":"https://www.gravitatedesign.com/blog/what-is-geolocation/#webpage","url":"https://www.gravitatedesign.com/blog/what-is-geolocation/","name":"What is Geolocation? How it Works & Why it Matters | Gravitate","isPartOf":{"@id":"https://www.gravitatedesign.com/#website"},"datePublished":"2020-04-01T18:42:47+00:00","dateModified":"2021-05-14T20:50:47+00:00","author":{"@id":"https://www.gravitatedesign.com/#/schema/person/b564c3ccd9a32a0047c86fc1a9acfb92"},"description":"What is geolocation? Geolocation improves user experience by providing the ability to identify the location of an Internet-connected device.","breadcrumb":{"@id":"https://www.gravitatedesign.com/blog/what-is-geolocation/#breadcrumb"},"inLanguage":"en-US","potentialAction":[{"@type":"ReadAction","target":["https://www.gravitatedesign.com/blog/what-is-geolocation/"]}]},{"@type":"BreadcrumbList","@id":"https://www.gravitatedesign.com/blog/what-is-geolocation/#breadcrumb","itemListElement":[{"@type":"ListItem","position":1,"name":"Home","item":"https://www.gravitatedesign.com/"},{"@type":"ListItem","position":2,"name":"Knowledge","item":"https://www.gravitatedesign.com/blog/"},{"@type":"ListItem","position":3,"name":"What is Geolocation?"}]},{"@type":"Person","@id":"https://www.gravitatedesign.com/#/schema/person/b564c3ccd9a32a0047c86fc1a9acfb92","name":"Gravitate Team","image":{"@type":"ImageObject","@id":"https://www.gravitatedesign.com/#personlogo","inLanguage":"en-US","url":"https://secure.gravatar.com/avatar/2230ac06079cd2dff466b0bf54791b39?s=96&d=mm&r=g","contentUrl":"https://secure.gravatar.com/avatar/2230ac06079cd2dff466b0bf54791b39?s=96&d=mm&r=g","caption":"Gravitate Team"},"url":"https://www.gravitatedesign.com/blog/author/gravitate-admin/"}]}</script>
<!-- / Yoast SEO plugin. -->


<link rel="dns-prefetch" href="//s.w.org">
<link rel="alternate" type="application/rss+xml" title="Gravitate » Feed" href="https://www.gravitatedesign.com/feed/">
<link rel="alternate" type="application/rss+xml" title="Gravitate » Comments Feed" href="https://www.gravitatedesign.com/comments/feed/">
<link rel="stylesheet" id="dashicons-css" href="https://www.gravitatedesign.com/wp-includes/css/dashicons.min.css?ver=5.8.1" type="text/css" media="all">
<link rel="stylesheet" id="master_css-css" href="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/css/min/master.min.css?ver=1638558807" type="text/css" media="all">
<script type="text/javascript" src="https://www.gravitatedesign.com/wp-includes/js/jquery/jquery.min.js?ver=3.6.0" id="jquery-core-js"></script>
<link rel="https://api.w.org/" href="https://www.gravitatedesign.com/wp-json/"><link rel="alternate" type="application/json" href="https://www.gravitatedesign.com/wp-json/wp/v2/posts/14929"><link rel="shortlink" href="https://www.gravitatedesign.com/?p=14929">
<link rel="alternate" type="application/json+oembed" href="https://www.gravitatedesign.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.gravitatedesign.com%2Fblog%2Fwhat-is-geolocation%2F">
<link rel="alternate" type="text/xml+oembed" href="https://www.gravitatedesign.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.gravitatedesign.com%2Fblog%2Fwhat-is-geolocation%2F&amp;format=xml">
<!-- site-navigation-element Schema optimized by Schema Pro --><script type="application/ld+json">{"@context":"https:\/\/schema.org","@graph":[{"@context":"https:\/\/schema.org","@type":"SiteNavigationElement","id":"site-navigation","name":"Services","url":"https:\/\/www.gravitatedesign.com\/services\/"},{"@context":"https:\/\/schema.org","@type":"SiteNavigationElement","id":"site-navigation","name":"Work","url":"https:\/\/www.gravitatedesign.com\/work\/"},{"@context":"https:\/\/schema.org","@type":"SiteNavigationElement","id":"site-navigation","name":"Company","url":"https:\/\/www.gravitatedesign.com\/company\/"},{"@context":"https:\/\/schema.org","@type":"SiteNavigationElement","id":"site-navigation","name":"Blog","url":"https:\/\/www.gravitatedesign.com\/blog\/"}]}</script><!-- / site-navigation-element Schema optimized by Schema Pro --><!-- sitelink-search-box Schema optimized by Schema Pro --><script type="application/ld+json">{"@context":"https:\/\/schema.org","@type":"WebSite","name":"Gravitate","url":"https:\/\/www.gravitatedesign.com","potentialAction":[{"@type":"SearchAction","target":"https:\/\/www.gravitatedesign.com\/?s={search_term_string}","query-input":"required name=search_term_string"}]}</script><!-- / sitelink-search-box Schema optimized by Schema Pro -->		<script>
document.documentElement.className = document.documentElement.className.replace( 'no-js', 'js' );
</script>
    <style>
.no-js img.lazyload { display: none; }
figure.wp-block-image img.lazyloading { min-width: 150px; }
                .lazyload, .lazyloading { opacity: 0; }
    .lazyloaded {
        opacity: 1;
        transition: opacity 400ms;
        transition-delay: 0ms;
    }
        </style>
<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>			<style id="wpsp-style-frontend"></style>
<link rel="icon" href="https://uploads.gravitatedesign.com/2020/11/23175203/Gravitate_Logo-125x125.png" sizes="32x32">
<link rel="icon" href="https://uploads.gravitatedesign.com/2020/11/23175203/Gravitate_Logo-250x250.png" sizes="192x192">
<link rel="apple-touch-icon" href="https://uploads.gravitatedesign.com/2020/11/23175203/Gravitate_Logo-250x250.png">
<meta name="msapplication-TileImage" content="https://uploads.gravitatedesign.com/2020/11/23175203/Gravitate_Logo-300x300.png">
    <!-- Sharpspring  -->
<script type="text/javascript">
var _ss = _ss || [];
_ss.push(['_setDomain', 'https://koi-3QNKLR2EPU.marketingautomation.services/net']);
_ss.push(['_setAccount', 'KOI-45ZP3ZI5CY']);
_ss.push(['_trackPageView']);
(function() {
var ss = document.createElement('script');
ss.type = 'text/javascript'; ss.async = true;
ss.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'koi-3QNKLR2EPU.marketingautomation.services/client/ss.js?ver=2.4.0';
var scr = document.getElementsByTagName('script')[0];
scr.parentNode.insertBefore(ss, scr);
})();
</script>
<!-- E-commerce page  (e-commerce-fast) -->
<style>
#ecomm-logos {
display: -webkit-flex;
display: flex;
flex-wrap: wrap;
justify-content: center;
padding-top: 4.5rem;
}
#ecomm-logos img {
padding: 1.5rem;
max-width: 400px;
}
</style>		</head>
<body id="body" class="post-template-default single single-post postid-14929 single-format-standard wp-custom-logo wp-schema-pro-2.7.1 what-is-geolocation child-of-none post_type-post taxonomy-category term-gain-knowledge term-reach-an-audience taxonomy-post_tag taxonomy-post_format locale-en_us">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe 
height="0" width="0" style="display:none;visibility:hidden" data-src="https://www.googletagmanager.com/ns.html?id=GTM-WSBC7F" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->			<header class="header-global bg-offset-adjust">
<div class="header-global-nav__row">
            <div class="row align-middle collapse">
    <div class="columns medium-3">
        <a href="/" class="site-logo">
            
        </a>
    </div>
    <div class="columns medium-9 show-for-large">
        <div class="header-global-menu__desktop">
            <div class="menu-global-menu-container"><ul id="menu-global-menu" class="menu"><li id="menu-item-15475" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15475"></li>
<li id="menu-item-165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-165"></li>
<li id="menu-item-167" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-167"></li>
<li id="menu-item-164" class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-164"></li>
<li class="header-global-search__trigger"></li></ul></div>					</div>
    </div>
</div>
</div>
</header>
<div class="nav-fixed">

        
</div>
<div class="search-desktop">
<div class="row align-center align-middle">
<div class="columns medium-8 large-6">
    <form class="form-search" role="search" method="get" name="searchform" action="https://www.gravitatedesign.com/">
<input type="text" value="" name="s" class="s" placeholder="Search">
<input type="submit" class="searchsubmit show-for-hover" value="Search"><span class="submit-arrow"></span>
</form>			</div>
</div>
</div>
<nav class="nav-global-hidden">
<div class="row bg-offset-adjust collapse align-justify small-uncollapse">
<div class="small-12 medium-5 large-4 columns nav-global-items align-right align-middle">
    <div class="nav-wrapper-global-items">
                                <a href="https://www.gravitatedesign.com/contact/" class="button bg-magenta-dark project-inquiry show-for-smaller">Work With Us</a>
                            <div class="menu-global-menu-container"><ul id="menu-global-menu-1" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15475"><a href="https://www.gravitatedesign.com/services/">Services</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-165"><a href="https://www.gravitatedesign.com/work/">Work</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-167"><a href="https://www.gravitatedesign.com/company/">Company</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-164"><a href="https://www.gravitatedesign.com/blog/">Blog</a></li>
</ul></div>				</div>
    <form class="form-search" role="search" method="get" name="searchform" action="https://www.gravitatedesign.com/">
<input type="text" value="" name="s" class="s" placeholder="Search">
<input type="submit" class="searchsubmit show-for-hover" value="Search"><span class="submit-arrow"></span>
</form>									<ul class="social-links header-social-links">
                                        <li><a href="http://twitter.com/#!/gravitatedesign" target="_blank"><span class="icon icon-twitter"></span></a></li>
                                        <li><a href="http://www.facebook.com/GravitateDesignStudio" target="_blank"><span class="icon icon-facebook"></span></a></li>
                                        <li><a href="http://instagram.com/gravitatedesign" target="_blank"><span class="icon icon-instagram"></span></a></li>
                                        <li><a href="https://www.linkedin.com/company/gravitate-design-studio" target="_blank"><span class="icon icon-linkedin"></span></a></li>
                                </ul>
                </div>
</div>
</nav>
    <div class="bg-image load-delay-custom shown" style="background-image: url(&quot;https://uploads.gravitatedesign.com/2018/12/01205034/geolocation-banner-3-scaled.jpg&quot;); height: 556.547px;" data-original="https://uploads.gravitatedesign.com/2018/12/01205034/geolocation-banner-3-scaled.jpg">

</div>

<section class="banner-container" style="transform: translate3d(0px, 0px, 0px);">
<div class="banner-inner">
<div class="row text-center align-center">
<div class="columns small-12 medium-10">
    <h4><a href="https://www.gravitatedesign.com/blog/">Knowledge</a></h4>
    <h1>What is Geolocation?</h1>
</div>
</div>
</div>
</section>
<div class="grav-slideout bg-blue">
<div class="grav-slideout-inner member-profile">
<div class="row">
<div class="columns small-12 medium-4 medium-offset-1 member-profile">
    <h2 class="member-profile-name"></h2>
    <h4 class="member-profile-title"></h4>
    <div class="member-profile-description"></div>
    <h5 class="member-profile-latest-title"></h5>
    <ul class="member-profile-latest-list"></ul>
</div>
</div>
</div>
</div>
<div class="grav-slideout-form bg-blue">
<div class="grav-slideout-inner form-project-inquiry">
<div class="row">
<div class="columns small-12 medium-10 medium-offset-1 member-profile">
    <div class="wysiwyg">
                                <h3 class="gform_title">Project Inquiry</h3>
                            <p>The more information you provide, the better we’ll&nbsp;understand your project and find the right solutions for you. Or if you’d like to talk to a live person give us a call at 888.217.9502.&nbsp;Talk to you soon!</p>
    </div>
                    <div id="hbspt-project-inquiry"></div>            </div>
</div>
</div>
</div>
<div class="main-content-wrapper" data-bg-color="#0b333c">
<main id="global-content" class="global-wrapper">
        <ul class="grav-breadcrumbs">
        <li>
                        
                </li>
        
        
    </ul>
<div class="share-sticky absolute active">

<div class="share-wrapper">

</div>
</div>
<section class="section-container post-meta">
<div class="section-inner">
<div class="row align-middle align-right">
                            <a href="#" class="team-member round small-order-3" data-member-id="2">
        <img alt="Gravitate Team" data-src="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/images/astronaut.png" class=" lazyloaded" src="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/images/astronaut.png"><noscript><img src="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/images/astronaut.png" alt="Gravitate Team" /></noscript>
    </a>
            

</div>
</div>
</section>



<section class="block-container block-content block-bg-white block-index-1">


<div class="block-inner num-col-1">
<div class="row">
                        <div class="columns small-12 col-sm-9 large-8">
                





<h2>What is Geolocation?</h2>
<p align="justify">Geolocation is the ability to track a device’s whereabouts using GPS, cell phone towers, WiFi access points or a combination of these. Since devices are used by individuals, geolocation uses positioning systems to track an individual’s where abouts down to latitude and longitude coordinates, or more practically, a physical address. Both mobile and desktop devices can use geolocation.</p>
<!-- <p>If you don’t know what geolocation is, and — at this point — you’re too afraid to ask, it refers to the geographical (latitudinal and longitudinal) location of an Internet-connected device. Not your location, mind you, but the location of whatever electronic medium is being used to access the Internet.</p -->
<!-- <p>So, if you leave your phone in your car and go for an hour-long run in silence (like some kind of animal), your geolocation history for that hour is the physical location of your car (according to your phone). Contrarily, because your fitness tracker traveled with you the whole time on your wrist, its geolocation history for that hour is wherever you ran … maybe. Probably.</p> -->
















            </div>
                    </div>
</div>


</section>


<section class="block-container block-content block-bg-white block-index-2 no-bottom-padding no-top-padding animate-content animated">


<div class="block-inner num-col-1">
<div class="row">
                        <div class="columns small-12 col-sm-9 large-8">
                <h2>Impacts of Geolocation</h2>
                <p align="justify">The proliferation of Global Positioning Systems (GPS), Wi-Fi, wireless mobile networks and IP location identification techniques makes a wide range of derivative technology applications possible: tailoring content and services to users in particular locations, conducting financial transactions from mobile devices with greater assurance of wireless security, and leveraging the ability to use cloud storage to synchronize devices across a multitude of mobile platforms and varying user locations. The capability to provide accurate and timely georeference data, tag items of interest with location metadata, and use location coordinates as a key to search databases is the foundation for a thriving software market for applications that run on mobile platforms.</p>
                <p align="justify">Consequently, it is also now possible to enhance and control Internet commerce by using geolocation information to provide virtual boundaries and de facto controls for activities such as Internet gambling, video distribution, and procurement of products and services that may be restricted in one jurisdiction, but permitted in another. However, such boundaries and controls can be intentionally evaded using web proxies or anonymizer software. Of course, coinciding with these benefits is a range of social and privacy considerations on how geolocation data, when correlated with other personally identifiable information (PII), can be used or abused.</p>
                <p align="justify">As with any technology, geolocation has a double-edged nature. The capabilities that empower social networking, aid in law enforcement, and transform the way the world is experienced and navigated also provide the basis for serious misuse in the wrong hands. Such misuse includes unwarranted surveillance of individual or enterprise activities and use in criminal activities. In addition, there are easily available tools that enable intentional evasion of geolocation—an ability that may facilitate criminal acts.</p>
            </ul>

            </div>
                    </div>
</div>


</section>
<section class="section-container section-related-articles bg-white">
<div class="section-inner">
<div class="row">
<div class="columns small-12 text-center title">
    
</div>
</div>

</div>
</section>

</main> 	</div>		<footer class="global-footer">
<div class="inner">
    <div class="row top-row">
                                <a class="to-infinity-and-beyond footer-art" target="_blank"><img width="92" height="99" alt="Gravitate - Spaceman" data-src="https://uploads.gravitatedesign.com/2016/04/22193143/spaceman.png" class=" ls-is-cached lazyloaded" src="https://uploads.gravitatedesign.com/2016/04/22193143/spaceman.png"><noscript><img src="https://uploads.gravitatedesign.com/2016/04/22193143/spaceman.png" width="92" height="99" alt="Gravitate - Spaceman"/></noscript></a>
                            <div class="columns small-12 medium-8">
            <nav class="footer-nav">
                <ul id="menu-footer-menu" class=""><li id="menu-item-11063" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-11063"></li>



<li id="menu-item-174" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174"></li>
<li id="menu-item-11064" class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-11064"></li>
<li id="menu-item-171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171"></li>
<li id="menu-item-11067" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11067"></li>
</ul>						</nav>
            <nav class="footer-sub-nav hide-for-small-only">
                <div class="menu-footer-capabilities-container"><ul id="menu-footer-capabilities" class="menu"><li id="menu-item-15480" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15480"></li>



</ul></div>						</nav>
                                        <ul class="social-links">
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                </ul>
                                </div>
        <div class="columns small-12 medium-4">
            <div class="row">
                <!-- if is !front page small-12 -->
                                            

                                        </div>
        </div>
    </div>
    <div class="row bottom-row">
        <div class="columns">
            <nav class="bottom-links">
                <ul>
                    
                                                            <li></li>
                                                                <li></li>
                                                    </ul>
            </nav>
        </div>
    </div>
</div>
</footer>
<script type="text/javascript" src="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/js/grav-plugins.js?ver=1638558807" id="plugins_js-js"></script>
<script type="text/javascript" src="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/js/grav-functions.js?ver=1638558807" id="functions_js-js"></script>
<script type="text/javascript" src="https://www.gravitatedesign.com/wp-content/themes/gravtheme/library/js/grav-scripts.js?ver=1638558807" id="scripts_js-js"></script>
<script type="text/javascript" src="https://www.gravitatedesign.com/wp-content/plugins/wp-smush-pro/app/assets/js/smush-lazy-load.min.js?ver=3.9.3" id="smush-lazy-load-js"></script>
<script type="text/javascript" src="https://www.gravitatedesign.com/wp-includes/js/wp-embed.min.js?ver=5.8.1" id="wp-embed-js"></script>
<script type="text/javascript" id="wpsp-script-frontend"></script>
        
<svg id="image" version="1.1" xmlns="http://www.w3.org/2000/svg">
<defs>
<filter id="blurEffect">
<feGaussianBlur stdDeviation="4"></feGaussianBlur>
</filter>
<filter id="turbulence">
<feTurbulence baseFrequency=".01" type="fractalNoise" numOctaves="3" seed="23" stitchTiles="stitch"></feTurbulence>
</filter>
<filter id="blur">
<feGaussianBlur stdDeviation="10,3" result="outBlur"></feGaussianBlur>
</filter>
<filter id="inverse">
<feComponentTransfer>
<feFuncR type="table" tableValues="1 0"></feFuncR>
<feFuncG type="table" tableValues="1 0"></feFuncG>
<feFuncB type="table" tableValues="1 0"></feFuncB>
</feComponentTransfer>
</filter>
<filter id="convolve">
<feConvolveMatrix order="3" kernelMatrix="1 -1  1 -1 -0.01 -1 1 -1 1" edgeMode="duplicate" result="convo"></feConvolveMatrix>
</filter>
<filter id="convoblur">
<feGaussianBlur in="SourceGraphic" stdDeviation="6" result="blur"></feGaussianBlur>
<feConvolveMatrix order="3" kernelMatrix="1 -1  1 -1 -0.01 -1 1 -1 1" edgeMode="none" result="convo"></feConvolveMatrix>
<feMerge>
<feMergeNode in="blur"></feMergeNode>
<feMergeNode in="convo"></feMergeNode>
</feMerge>
</filter>
<filter id="blackandwhite">
<feColorMatrix values="0.3333 0.3333 0.3333 0 0
                         0.3333 0.3333 0.3333 0 0
                        0.3333 0.3333 0.3333 0 0
                        0      0      0      1 0"></feColorMatrix>
</filter>
<filter id="convolve2">
<feConvolveMatrix filterres="100 100" style="color-interpolation-filters:sRGB" order="3" kernelMatrix="0 -1 0   -1 4 -1   0 -1 0" preserveAlpha="true"></feConvolveMatrix>
</filter>
<filter id="offset" x="-10%" y="-20%" height="230%" width="140%" transform="translate(90,0)">
<feGaussianBlur stdDeviation="14"></feGaussianBlur>
<feOffset dx="0" dy="240" result="B"></feOffset>
<feMerge>
<feMergeNode in="B"></feMergeNode>
<feMergeNode in="SourceGraphic"></feMergeNode>
</feMerge>
</filter>
<filter id="myblur">
<feGaussianBlur stdDeviation="1"></feGaussianBlur>
</filter>
<filter id="myconvolve">
<feConvolveMatrix filterres="100 100" style="color-interpolation-filters:sRGB" order="3" kernelMatrix="0 -1 0   -1 4 -1   0 -1 0" preserveAlpha="true"></feConvolveMatrix>
</filter>
<filter id="displacement" x="0%" y="0%" height="100%" width="100%">
<feDisplacementMap scale="100" in2="SourceGraphic" xChannelSelector="G"></feDisplacementMap>
</filter>
<filter id="bluefill" x="0%" y="0%" width="100%" height="100%">
<feFlood flood-color="blue" result="A"></feFlood>
<feColorMatrix type="matrix" in="SourceGraphic" result="B" values="1   0  0  0 0
                   0   1  0  0 0
                   0   0  1  0 0
                   1   1  1  0 0
          "></feColorMatrix>
<feMerge>
<feMergeNode in="A"></feMergeNode>
<feMergeNode in="B"></feMergeNode>
</feMerge>
</filter>
<filter id="noir">
<feGaussianBlur stdDeviation="1.5"></feGaussianBlur>
<feComponentTransfer>
<feFuncR type="discrete" tableValues="0 .5 1 1"></feFuncR>
<feFuncG type="discrete" tableValues="0 .5 1"></feFuncG>
<feFuncB type="discrete" tableValues="0"></feFuncB>
</feComponentTransfer>
</filter>
</defs>
</svg>


<!--
Performance optimized by W3 Total Cache. Learn more: https://www.boldgrid.com/w3-total-cache/

Object Caching 318/346 objects using memcached
Page Caching using memcached 

Served from: www.gravitatedesign.com @ 2022-01-04 16:14:54 by W3 Total Cache
--><div id="cboxOverlay" style="display: none;"></div><div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;"><div id="cboxWrapper"><div><div id="cboxTopLeft" style="float: left;"></div><div id="cboxTopCenter" style="float: left;"></div><div id="cboxTopRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxMiddleLeft" style="float: left;"></div><div id="cboxContent" style="float: left;"><div id="cboxTitle" style="float: left;"></div><div id="cboxCurrent" style="float: left;"></div><button type="button" id="cboxPrevious"></button><button type="button" id="cboxNext"></button><button id="cboxSlideshow"></button><div id="cboxLoadingOverlay" style="float: left;"></div><div id="cboxLoadingGraphic" style="float: left;"></div></div><div id="cboxMiddleRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxBottomLeft" style="float: left;"></div><div id="cboxBottomCenter" style="float: left;"></div><div id="cboxBottomRight" style="float: left;"></div></div></div><div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"></div></div><div id="cboxOverlay" style="display: none;"></div><div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;"><div id="cboxWrapper"><div><div id="cboxTopLeft" style="float: left;"></div><div id="cboxTopCenter" style="float: left;"></div><div id="cboxTopRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxMiddleLeft" style="float: left;"></div><div id="cboxContent" style="float: left;"><div id="cboxTitle" style="float: left;"></div><div id="cboxCurrent" style="float: left;"></div><button type="button" id="cboxPrevious"></button><button type="button" id="cboxNext"></button><button id="cboxSlideshow"></button><div id="cboxLoadingOverlay" style="float: left;"></div><div id="cboxLoadingGraphic" style="float: left;"></div></div><div id="cboxMiddleRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxBottomLeft" style="float: left;"></div><div id="cboxBottomCenter" style="float: left;"></div><div id="cboxBottomRight" style="float: left;"></div></div></div><div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"></div></div></body></html>